<h1>
    <span>Today</span>
    <small>13 May</small>
</h1>
<ul>
    <li>
        <div class="task">
            <button class="check">
                <div class="circle"></div>
            </button>
            <p>Lorem ipsum dolro sit amet.</p>
        </div>
    </li>
</ul>

<h1>20 May</h1>